 <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>ajax</title>
      <style>
      *{margin:0;padding:0px;font-size: 12px;}
      a{text-decoration: none;}
      ul{list-style: none;}
     #box{width:500px;margin:20px auto;}
     .btn{display:block;width:50px;height:50px;margin:20px auto;line-height: 50px;text-align: center;border:1px #000 solid;color:#000;transition:.3s linear;}
     .btn:hover{background: #000;color:#fff;font-weight: bold;}
     #con{margin-top:20px;}
     #con li{line-height: 30px;text-align: center;}
     </style>
     <script src="jquery-1.8.3.min.js"></script>
     <script>
         $(function(){
             $('.btn').on('click', function(){
                 $.ajax({
                     type: "POST",
                     url: "/json/",
                     dataType: "json",
                     success: function(result){
                         var dataObj = result,
                         con = "";
                         $.each(dataObj, function(index, item){
                             con += "<li>姓名："+item.username+"</li>";
                             con += "<li>性别："+item.filename+"</li>";
                             con += "<li>现居地："+item.time+"</li>";
                             con += "<li>岗位："+item.category+"</li>";
                         });
                         console.log(con);    //可以在控制台打印一下看看，这是拼起来的标签和数据
                         $("#con").html(con); //把内容入到这个div中即完成
                     }
                 })
             })
         })
     </script>
 </head>
 <body>
    <div id="box">
        <a class="btn" href="javascript:;">点击</a>
        <ul id="con"></ul>
    </div>
 </body>
 </html>